name: Windows (GCC)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-gcc:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      # 安装 MSYS2 + mingw64 GCC + Ninja + (可选) pkg-config
      - name: Setup MSYS2 (MINGW64)
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-cmake

      - name: Configure
        shell: msys2 {0}
        run: |
          cmake --version
          gcc --version
          ninja --version

          cmake -G Ninja -S . -B build \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_C_COMPILER=gcc \
            -DCMAKE_CXX_COMPILER=g++

      - name: Build
        shell: msys2 {0}
        run: |
          cmake --build build

      - name: Test
        shell: msys2 {0}
        run: |
          ctest --test-dir build -C Release --output-on-failure
