name: Windows (Clang)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-clang:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSYS2 (CLANG64)
        uses: msys2/setup-msys2@v2
        with:
          msystem: CLANG64
          update: true
          install: >-
            mingw-w64-clang-x86_64-clang
            mingw-w64-clang-x86_64-ninja
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-libc++

      - name: Configure
        shell: msys2 {0}
        run: |
          cmake --version
          clang --version
          ninja --version

          cmake -G Ninja -S . -B build \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_C_COMPILER=clang \
            -DCMAKE_CXX_COMPILER=clang++ \
            -DCMAKE_CXX_FLAGS="-stdlib=libc++" \
            -DCMAKE_EXE_LINKER_FLAGS="-stdlib=libc++"

      - name: Build
        shell: msys2 {0}
        run: |
          cmake --build build

      - name: Test
        shell: msys2 {0}
        run: |
          ctest --test-dir build -C Release --output-on-failure
